.player_container {
    height: 30px;
    width: 135px;
    background: #f8f8ff;
    display: flex;
    margin: 10px;
}

.player_gradient {
    height: 30px;
    width: 30px;
    background: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

.player_name {
    height: auto;
    width: 120px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#scoreA, #scoreB {
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
}

/* Player Hands */
.playerA_hand, .playerB_hand {
    position: relative;
    display: flex;
    height: 180px;
    justify-content: center;
    width: 25%;
}

.player_card {
    object-fit: contain;
    width: 100px;
    height: 100%;
}

@media screen and (max-width: 440px) {
    .player_card {
        width: 100px;
        height: 100%;
    }

    .playerA_hand, .playerB_hand {
        height: 100px;
    }

}

@media screen and (max-width: 830px) {
    .player_card {
        width: 75%;
        height: 100%;
    }
}